<div class="container profile">
  <div class="section profile-heading has-background-white">
    <div class="columns">
      <div class="column is-12 has-text-centered">
        <h1 class="title">O'Hara Football Membership and Donations</h1>
      </div>
    </div>
    <div class="columns">
      <div class="column is-6">
        <div class="tile is-parent is-vertical">
          <article class="tile is-child notification has-background-red has-text-white">
            <p class="title">Lion Club</p>
            <p class="subtitle">$150</p>
            <div class="content">
              <ul>
                <li>Alumni Tent Access</li>
                <li>1 Ticket to Home Games</li>
                <li>Football Alumni Hat</li>
                <li>Email Updates</li>
              </ul>
              <p>VIP Access through Alumni Gate</p>
            </div>
          </article>
          <article class="tile is-child notification has-background-red has-text-white">
            <p class="title">Golden Lion Club</p>
            <p class="subtitle">$750 - 5 years</p>
            <div class="content">
              <ul>
                <li>Alumni Tent Access</li>
                <li>3 Tickets to Home Games</li>
                <li>Football Alumni Hat</li>
                <li>Email Updates</li>
              </ul>
              <p>VIP Access through Alumni Gate</p>
            </div>
          </article>
          <article class="tile is-child notification has-background-red has-text-white">
            <p class="title">Regulus Club</p>
            <p class="subtitle">$2,500 - 5 years</p>
            <div class="content">
              <ul>
                <li>Alumni Tent Access</li>
                <li>Family Pass to Home Games</li>
                <li>Football Alumni Hat</li>
                <li>Email Updates</li>
              </ul>
              <p>VIP Access through the Alumni Gate</p>
              <p>Your name or company will sponsor webcast</p>
            </div>
          </article>
        </div>
      </div>
      <div class="column is-6">
        <membership-form></membership-form>
      </div>
    </div>
  </div>
</div>