<div class="container profile">
  <div class="section profile-heading has-background-white">
    <div class="columns">
      <div class="column is-12 has-text-centered">
        <h1 class="title">2017 Schedule</h1>
        <table class="table is-striped roster-table">
          <tfoot>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td colspan="2">** Scrimmage</td>
          </tr>
          </tfoot>
          <tbody>
          <tr>
            <td>8/19</td>
            <td>Archbishop Carroll</td>
            <td>H</td>
            <td>10 AM</td>
            <td>**</td>
          </tr>
          <tr>
            <td>8/25</td>
            <td>Kipp-DuBois Collegiate</td>
            <td>H</td>
            <td>7 PM</td>
            <td></td>
          </tr>
          <tr>
            <td>9/2</td>
            <td>Jules Mastbaum</td>
            <td>A</td>
            <td>12 PM</td>
            <td></td>
          </tr>
          <tr>
            <td>9/8</td>
            <td>Chester</td>
            <td>H</td>
            <td>7 PM</td>
            <td></td>
          </tr>
          <tr>
            <td>9/16</td>
            <td>Bishop McDevitt</td>
            <td>A</td>
            <td>7 PM</td>
            <td></td>
          </tr>
          <tr>
            <td>9/22</td>
            <td>Bonner-Prendie</td>
            <td>A</td>
            <td>7 PM</td>
            <td></td>
          </tr>
          <tr>
            <td>10/7</td>
            <td>Lansdale Catholic</td>
            <td>A</td>
            <td>7 PM</td>
            <td></td>
          </tr>
          <tr>
            <td>10/13</td>
            <td>Conwell-Egan Catholic</td>
            <td>H</td>
            <td>7 PM</td>
            <td></td>
          </tr>
          <tr>
            <td>10/20</td>
            <td>Neumann-Goretti</td>
            <td>H</td>
            <td>7 PM</td>
            <td></td>
          </tr>
          <tr>
            <td>10/27</td>
            <td>West Catholic</td>
            <td>A</td>
            <td>7:30 PM</td>
            <td></td>
          </tr>
          <tr>
            <td>11/3</td>
            <td>Bonner-Prendie</td>
            <td>H</td>
            <td>7 PM</td>
            <td></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>